body {
    margin: 0;
    padding: 0;

}

* {
    font-family: 'Lato', sans-serif;
}

.header-part {
    background-image: url(../img/banner\ image1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px 0px 70px 0px;
    height: 100vh;
}

/*its for menu*/
.menu ul li a {
    font-size: 18px;
    font-weight: 400px;
    color: #ffffff !important;
    padding: 0px 20px !important;
}

/*header-contant area start*/
.header-contant {
    padding-top: 21%;
}

.header-contant h3 {
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
}

.header-contant h1 {
    color: #ffffff;
    font-size: 70px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 20px;
}

.btn-custom {
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 15px 50px;
    font-size: 25px;
    font-weight: 400;
    color: #ffffff;
    margin-top: 40px;
}

.btn-custom:hover {
    color: #ffffff;
}

/*header-contant area end*/